ignore-rows={"22"}
ignore-columns={"15"}

//Simple "C\+\+"
//Simple "\.NET"
//Simple "VB\.NET"
//Simple "C#"
//Simple "Objective-C"
//Simple "PDF/A"
//Unknown "\? cognition"
//Multiple "(c)/(c\+\+)" {and}
//Partial "([^,]+)\swith\s([^,]+)"
//Multiple "([^,]+)\sor\s([^,]+)" {or}
//Simple "\w+(\s\w+)"
//Simple "\d+\+"
//Simple "\w+(\s\w+)*"
